*{
    box-sizing: border-box;
    --boldTxt: "Rubik", serif;
    --boldSize: 700;
    --txtOpticSize:auto;
    --cardbg:#fcf4f4;
    --btncolor:#e7e1e1;
    --otherbtn:rgb(252, 87, 252);
    --otherbtn2:rgb(249, 175, 249);
    --h-two: "Slabo 27px", serif;
}

body{
    background-color: black;
}

.userCard{
    width:400px;
    height:70vh;
    background-color: white;
    margin:auto;
    margin-top:15vh;
    border-radius:30px;
    padding:25px;

    display:flex;
    flex-direction: column;
    gap:10px;


}

.userCard > * {
    width:100%;
    height:40px;

    
}
.userRow{
        height:100px;
        display:flex;
        gap:5px;
        justify-content: space-between;
        align-items: center;
    }

.img{
    display:flex;
   

            
}
img{
    height:70px;
    width:70px;
    border-radius: 50%;
}
.img p{
    font-family:var(--boldTxt);
    font-weight:800;
    padding-left:10px; 
    line-height: 25px;
}

.level{
    background-color:var(--otherbtn);
    color:white;
}
.img>p>span{
    font-weight:300;
    padding:5px;
    border:1px solid black;
    border-radius:15px;
}

.profileicons{
    width:fit-content;
    height:fit-content;
    
    border-radius:5px;
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.icon{
    width:50px;
    height:40px;
    background-color: var(--cardbg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    color:var(--boldTxt);
}

.transaction{
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

button{
    width:45%;
    height:80%;
    border:none;
    background-color: var(--btncolor);
    border-radius: 10px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--boldSize);
    cursor:pointer;
}

.history{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.friends{
    display:flex;
    gap:5px;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.frndsTxt{
    width:200px;
    
}

.frndsTxt h2, .frndsTxt p{
    line-height: 12.5px;
}

.frndsImgs{
    display:flex;
    gap:-15px;
    align-items: center;
    justify-content: space-around;

    
}
.frndsImgs img{
        width:30px;
        height:30px;
        border:3px solid white;
        margin-left:-10px;
        box-shadow:-3px 0px 5px rgb(203, 203, 203);
}
.icon2{
    background-color: transparent;
}

.icon2:hover{
    background-color: var(--cardbg);
}

.transactions{
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 6px 
}
.pay{
    display:flex;
    height:70px;
    align-items: center;
    justify-content: space-between;
    padding:0 6px;
}

.pay a{
    display:flex;
    align-items: center;
    gap:10px;
    background-color: var(--otherbtn2);
    padding:10px;
    color:var(--boldTxt);
    text-decoration:none;
    border-radius:50px;
}

h2{
    font-family:var(--h-two);
    font-size: var(--boldSize);
}